<div class="modal-header">
    <h5 class="modal-title">Kiểm kê bán chế phẩm trên dây chuyền</h5>
    <div>Số quy trình: {{item.SoQuyTrinh}}</div>
    <div>Ngày tạo: {{item.Created|date:'dd/MM/yyyy'}}</div>
    <div>Ngày duyệt: {{item.Created|date:'dd/MM/yyyy'}}</div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="Onclose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="Onclose()"></button>
            <button pButton pRipple type="button" label="Lưu nháp" class="p-mr-2 p-button-sm " (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button>
            <button pButton pRipple type="button" label="Xác nhận" class="p-mr-2 p-button-sm" (click)="ChuyenDuyet()"
                *ngIf="checkbutton.ChuyenTiep"></button>
        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Phân xưởng:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listdmPhanXuong" placeholder="Chọn phân xưởng"
                    styleClass="p-inputtext-sm" [(ngModel)]="item.IddmPhanXuong"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Công đoạn:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listCongDoan" placeholder="Chọn công đoạn"
                    styleClass="p-inputtext-sm" [(ngModel)]="item.CongDoan" (onChange)="getItemTheoCongDoan()">
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ngày:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [locale]="lang"
                    [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true"
                    [(ngModel)]="item.Ngay" inputId="icon" placeholder="dd/mm/yyyy" (onSelect)="getListCanDoiChuyenKiemKe(true)">
                </p-calendar>
            </div>
        </div>
        <div class="p-col-12 p-lg-12  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-1 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-11 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
            </div>
        </div>

        <div class="p-col-12 p-p-0 d-flex flex-column">
            <p-table *ngIf="item.CongDoan!=='ONG'&&item.CongDoan!=='CON'&&item.CongDoan!=='THO'"
            [lazy]="true" [scrollable]="true" scrollHeight="45vh" [value]="listItem|isXoa"
                styleClass="p-datatable-sm wrap-text p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col>
                        <col style="width:90px; text-align: center;">
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Nội dung</th>
                        <th class="text-center">ĐVT</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">KL đv</th>
                        <th class="text-center">Tổng KL</th>
                        <th class="text-center">Ghi chú</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                    <tr>
                        <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                        <td class="text-center">
                            <input type="text" [(ngModel)]="itemindex.DonViTinh" pInputText disabled/>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.SoLuong">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.KhoiLuongDV">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.TongKhoiLuong">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <input type="text" [(ngModel)]="itemindex.GhiChu" pInputText/>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-table *ngIf="item.CongDoan==='CON' ||item.CongDoan==='ONG'"
            [lazy]="true" [scrollable]="true" scrollHeight="45vh" [value]="listItem|isXoa"
                styleClass="p-datatable-sm wrap-text p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center" rowspan="2">Máy số</th>
                        <th class="text-center" rowspan="2">Mặt hàng</th>
                        <th class="text-center" *ngFor="let col of listMatHang" 
                                [attr.colspan]="col.SoCotCon" [attr.rowspan]="col.SoDongCon">{{col.Ten}}</th>
                        <th class="text-center" rowspan="2">Tổng cộng (Kg)</th>
                        <th class="text-center" rowspan="2">Ghi chú</th>
                    </tr>
                    <tr>
                        <th class="text-center" *ngFor="let itemcon of listCotCon">{{itemcon.Ten}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                    <tr>
                        <td class="align-content-center first-col sticky-col">{{itemindex.TendmMay}}</td>
                        <td class="align-content-center first-col sticky-col">{{itemindex.TenMatHang}}</td>
                        <td *ngFor="let itemsanpham of itemindex.listKiemKeBCP" class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemsanpham.GiaTri">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.TongKhoiLuong">
                            </p-inputNumber>
                        </td> 
                        <td class="text-center">
                            <input type="text" [(ngModel)]="itemindex.GhiChu" pInputText/>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-table *ngIf="item.CongDoan==='THO'"
            [lazy]="true" [scrollable]="true" scrollHeight="45vh" [value]="listItem|isXoa"
                styleClass="p-datatable-sm wrap-text p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col>
                        <col style="width:90px; text-align: center;">
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Nội dung</th>
                        <th class="text-center">ĐVT</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">KL đv</th>
                        <th class="text-center">Tổng KL</th>
                        <th class="text-center">Ghi chú</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                    <tr>
                        <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                        <td class="text-center">
                            <input type="text" [(ngModel)]="itemindex.DonViTinh" pInputText disabled/>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.SoLuong">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.KhoiLuongDV">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.TongKhoiLuong">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <input type="text" [(ngModel)]="itemindex.GhiChu" pInputText/>
                        </td>
                    </tr>

                    <tr *ngFor="let itemcon of itemindex.listKiemKeBCP">
                        <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                        <td class="text-center">
                            <input type="text" [(ngModel)]="itemindex.DonViTinh" pInputText disabled/>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.SoLuong">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.KhoiLuongDV">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="itemindex.TongKhoiLuong">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <input type="text" [(ngModel)]="itemindex.GhiChu" pInputText/>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>