<div class="modal-header">
    <h5 class="modal-title">Danh mục đóng gói mặt hàng</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="_activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-grid">
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <div class="p-d-flex p-flex-row p-jc-between p-mb-3">
                <div>
                    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
                    <button pButton pRipple label="Đóng" class="p-button-sm p-mr-2"
                        (click)="_activeModal.dismiss()"></button>
                </div>
                <div>
                    <div class="p-inputgroup">
                        <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText
                            (keyup.enter)="chonThuaDat()" [(ngModel)]="KeyWord" />
                        <button type="button" pButton pRipple icon="pi pi-refresh"
                            class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
                    </div>
                </div>
            </div>
            <p-table [value]="selectedItems|isXoa|filter:KeyWord"
                styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col *ngFor="let col of cols" [ngStyle]="{width:col.width}">
                        <col style="width:200px">
                        <col style="width:50px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th *ngFor="let header of cols">
                            {{header.header}}
                        </th>
                        <th>Số lượng</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td>
                            <p-dropdown [filter]="true" [options]="items" placeholder="Chọn quy cách đóng gói"
                                styleClass="p-inputtext-sm" [(ngModel)]="item.IddmQuyCachDongGoi"></p-dropdown>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.KhoiLuong">
                            </p-inputNumber>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-times"
                                class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"
                                (click)="delete(i)" pTooltip="Hủy" tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="opt!=='modal'">
                    <tr>
                        <td class="text-center">#
                        </td>
                        <td>
                            <p-dropdown [filter]="true" [options]="items" placeholder="Chọn quy cách đóng gói"
                                styleClass="p-inputtext-sm" [(ngModel)]="newTableItem.IddmQuyCachDongGoi"></p-dropdown>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="newTableItem.KhoiLuong">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-plus"
                                class="p-button-rounded p-button-sm " (click)="add()"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>