<div class="modal-header">
    <h5 class="modal-title">{{opt==="LoBong"?'Danh sách lô bông trong kho':'Danh mục mặt hàng'}}</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="_activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-grid">
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <div class="p-d-flex p-flex-row p-jc-between p-mb-3">
                <div>
                    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
                    <button pButton pRipple label="Đóng" class="p-button-sm p-mr-2"
                        (click)="_activeModal.dismiss()"></button>
                </div>
                <div>
                    <div class="p-inputgroup">
                        <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText
                            (keyup.enter)="chonThuaDat()" [(ngModel)]="KeyWord" />
                        <button type="button" pButton pRipple icon="pi pi-refresh"
                            class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
                    </div>
                </div>
            </div>
            <p-table [value]="items|filter:KeyWord"
                styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines" [scrollable]="true"
                scrollHeight="500px">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col>
                        <!-- <col> -->
                        <col *ngIf="opt==='KhoiLuongKeHoach'">
                        <col *ngIf="opt==='KhoiLuongSanXuat'">
                        <!-- <col *ngIf="opt==='LoBong'"> -->
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-checkbox [(ngModel)]="checkedAll" (onChange)="checkAll($event)" binary="true"
                                inputId="binary"></p-checkbox>
                        </th>
                        <!-- <th>Mã hàng</th> -->
                        <th *ngIf="opt===''|| opt==='KhoiLuongKeHoach'||opt==='KhoiLuongSanXuat'">Mặt hàng</th>
                        <th *ngIf="opt===''">Loại sợi</th>
                        <th *ngIf="opt===''">Chi số Ne</th>
                        <th *ngIf="opt===''">Độ săn</th>


                        <!-- <th *ngIf="opt==='LoBong'">Mã hàng</th> -->
                        <th *ngIf="opt==='LoBong'">Mã lô bông</th>
                        <th *ngIf="opt==='LoBong'">Số kiện</th>
                        <th *ngIf="opt==='LoBong'">Mic BQ</th>
                        <th *ngIf="opt==='LoBong'">Giá bông</th>
                        <th *ngIf="opt==='LoBong'">Ngày nhập</th>
                        <th *ngIf="opt==='KhoiLuongKeHoach'">Khối lượng giao(Tấn)</th>
                        <th *ngIf="opt==='KhoiLuongKeHoach'">Khối lượng hoàn thành(Tấn)</th>
                        <th *ngIf="opt==='KhoiLuongKeHoach'">Khối lượng đã triển khai(Tấn)</th>
                        <th *ngIf="opt==='KhoiLuongKeHoach'">Khối lượng triển khai(Tấn)</th>
                        <th *ngIf="opt==='KhoiLuongSanXuat'">Khối lượng triển khai(Tấn)</th>
                        <th>Ghi chú</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">
                            <p-checkbox [(ngModel)]="item.checked" (onChange)="checked()" binary="true" inputId="binary"></p-checkbox>
                        </td>
                        <td *ngIf="opt===''||opt==='KhoiLuongKeHoach'||opt==='KhoiLuongSanXuat'">{{item.Ten}}</td>
                        <td *ngIf="opt===''">{{item.TendmLoaiSoi}}</td>
                        <td *ngIf="opt===''" class="text-right">{{item.Ne|number:'0.0' }}</td>
                        <td *ngIf="opt===''" class="text-right">{{item.DoSan|number:'0.0'}}</td>

                        <td *ngIf="opt==='LoBong'">{{item.Ma}}</td>
                        <td *ngIf="opt==='LoBong'">{{item.SoLuongKien}}</td>
                        <td *ngIf="opt==='LoBong'">{{item.Mic|number:'0.0-2'}}</td>
                        <td *ngIf="opt==='LoBong'">{{item.GiaBong}}</td>
                        <td *ngIf="opt==='LoBong'">{{item.NgayNhap|date:'dd/MM/yyyy'}}</td>
                        <td *ngIf="opt==='KhoiLuongKeHoach'" class="text-right">{{item.KhoiLuongKeHoach|number:'0.0-2'}}</td>
                        <td *ngIf="opt==='KhoiLuongKeHoach'" class="text-right">{{item.KhoiLuongHoanThanh|number:'0.0-2'}}</td>
                        <td *ngIf="opt==='KhoiLuongKeHoach'" class="text-right">{{item.KhoiLuongDaSanXuat|number:'0.0-2'}}</td>
                        <td *ngIf="opt==='KhoiLuongKeHoach'" class="text-right">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [max]="item.KhoiLuongKeHoach"
                                [(ngModel)]="item.KhoiLuongSanXuat">
                            </p-inputNumber>
                        </td>
                        <td *ngIf="opt==='KhoiLuongSanXuat'" class="text-right">{{item.KhoiLuongSanXuat|number:'0.0-2'}}</td>
                        <td>{{item.GhiChu}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>