<div class="modal-header">
    <h5 class="modal-title">Kế hoạch nhập nguyên liệu invoice</h5>
    <!-- <div class="p-col-12 p-lg-4 p-p-0 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Nhà máy:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <p-dropdown [filter]="true" [options]="listNhaMay" placeholder="Chọn nhà máy" styleClass="p-inputtext-sm"
                [(ngModel)]="item.NhaMay"></p-dropdown>
        </div>
    </div> -->
    <div class="p-d-flex p-flex-row">
        <div class="mr-2">Số quy trình:&nbsp;{{item.SoQuyTrinh}}</div>
        <!-- <div class="mr-2">TG tạo:&nbsp;{{item.Created}}</div>
        <div class="mr-2">TG duyệt:&nbsp;{{item.Modified}}</div> -->
    </div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="Onclose()"></button>
            <button pButton pRipple type="button" label="Ghi" class="p-mr-2 p-button-sm " (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button>
            <button pButton pRipple type="button" label="Chuyển duyệt" class="p-mr-2 p-button-sm"
                (click)="ChuyenDuyet()" *ngIf="checkbutton.ChuyenTiep"></button>
            <!-- <button pButton pRipple type="button" label="Kết xuất" class="p-mr-2 p-button-sm"></button> -->
        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Mã invoice: </label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.MaInvoice" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">K/H nhập nguyên liệu: </label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-dropdown [filter]="true" [options]="listKeHoachNguyenLieu" placeholder="Chọn kế hoạch nhập nguyên liệu" [(ngModel)]="item.IdKeHoachNhapNguyenLieu_Item"
                    styleClass="p-inputtext-sm" (onChange)="getKeHoachNhapNguyenLieu()"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Giá bông: </label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="item.GiaBong" disabled>
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Số lượng nhập: </label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="item.SoLuongNhap" disabled>
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Số Container: </label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="item.Container" disabled>
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Thời gian cập cảng: </label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true" [yearNavigator]="true"
                    [yearRange]="yearRange" [showIcon]="false" [(ngModel)]="item.ThoiGianCapCang" inputId="icon"
                    placeholder="dd/mm/yyyy" disabled>
                </p-calendar>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Thời gian dự kiến: </label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true" [yearNavigator]="true"
                    [yearRange]="yearRange" [showIcon]="false" [(ngModel)]="item.ThoiGianDuKien" inputId="icon"
                    placeholder="dd/mm/yyyy" disabled>
                </p-calendar>
            </div>
        </div>
        <!-- <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Loại bông:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-dropdown [filter]="true" [options]="listLoaiBong" placeholder="Chọn loại bông"
                                [(ngModel)]="item.IddmLoaiBong" styleClass="p-inputtext-sm" (onChange)="getDacTinhBong(items)">
                            </p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Cấp bông:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-dropdown [filter]="true" [options]="listCapBong" placeholder="Chọn cấp bông"
                                [(ngModel)]="item.IddmCapBong" styleClass="p-inputtext-sm" (onChange)="getDacTinhBong(items)">
                            </p-dropdown>
            </div>
        </div> -->
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Nội dung:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.NoiDung" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ngày <span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true" [yearNavigator]="true"
                    [yearRange]="yearRange" [showIcon]="false" [(ngModel)]="item.Ngay" inputId="icon"
                    placeholder="dd/mm/yyyy">
                </p-calendar>
            </div>
        </div>

        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-8 p-p-3 d-flex flex-column flex-lg-row">

        </div>
        <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
            <div class="p-inputgroup">
                <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText
                    (keyup.enter)="filtertable_add()" [(ngModel)]="filter.KeyWord" />
                <button type="button" pButton pRipple icon="pi pi-refresh"
                    class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
            </div>
        </div>
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <p-table [value]="item.listItem|isXoa" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col style="width: 57px;">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Số lượng nhập (Tấn)</th>
                        <th>SL Container</th>
                        <th>Tổng số kiện</th>
                        <th>Thời gian cập cảng <span class="text-danger">*</span></th>
                        <th>Thời gian dự kiến về kho <span class="text-danger">*</span></th>
                        <th>Ghi chú</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-items let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="items.Ten"/>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="items.SoLuongNhap">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="items.Container">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="items.TongSoKien">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true"
                                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="false"
                                [(ngModel)]="items.ThoiGianCapCang" inputId="icon" placeholder="dd/mm/yyyy">
                            </p-calendar>
                        </td>
                        <td>
                            <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true"
                                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="false"
                                [(ngModel)]="items.ThoiGianDuKien" inputId="icon" placeholder="dd/mm/yyyy">
                            </p-calendar>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="items.GhiChu"/>
                        </td>
                        <td class="text-center">
                            <button pButton pRipple icon="pi pi-times"
                                class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"
                                (click)="delete(i)" pTooltip="Xóa" tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="opt!=='modal'">
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="newTableItem.Ten"/>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="newTableItem.SoLuongNhap">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="newTableItem.Container">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="newTableItem.TongSoKien">
                            </p-inputNumber>
                        </td>
                        
                        <td>
                            <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true"
                                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="false"
                                [(ngModel)]="newTableItem.ThoiGianCapCang" inputId="icon" placeholder="dd/mm/yyyy">
                            </p-calendar>
                        </td>
                        <td>
                            <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true"
                                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="false"
                                [(ngModel)]="newTableItem.ThoiGianDuKien" inputId="icon" placeholder="dd/mm/yyyy">
                            </p-calendar>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="newTableItem.GhiChu"/>
                        </td>
                        <td class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-plus"
                                class="p-button-rounded p-button-sm " (click)="add()"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>