
<div class="p-mb-3 p-mt-3">
    <h4 style="color:#1f2779">Xuất kho bông hồi</h4>
</div>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
    <!-- <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-sm p-mr-2" (click)="add()" *ngIf="checkQuyen.ThemMoi"></button> -->
    <div></div>
    <div class="p-d-flex p-flex-row">
        <!-- <div class="p-mr-2">
            <p-dropdown [options]="listLoaiPhuongAn" placeholder="Chọn phương án" styleClass="p-inputtext-sm"
                [(ngModel)]="filter.LoaiPhuongAn" optionLabel="name" [showClear]="true"></p-dropdown>
        </div> -->
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter.TuNgay" inputId="icon" placeholder="Từ ngày">
            </p-calendar>
        </div>
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter.DenNgay" inputId="icon" placeholder="Đến ngày">
            </p-calendar>
        </div>
        <div class="p-inputgroup" style="width:200px">
            <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText (keyup.enter)="GetListQuyTrinh()" [(ngModel)]="filter.KeyWord"/>
            <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm p-button-text"(click)="resetFilter()"></button>
        </div>
        
    </div>
</div>
<p-tabView (onChange)="changeTab($event)" styleClass="no-content">
    <p-tabPanel header="Chưa xử lý" [disabled]="!checkQuyen.ChuaXuLy">
    </p-tabPanel>
    <p-tabPanel header="Đã xử lý" [disabled]="!checkQuyen.DaXyLy">
    </p-tabPanel>
    <!-- <p-tabPanel header="Tổng hợp" [disabled]="!checkQuyen.TongHop">
    </p-tabPanel> -->
</p-tabView>
<div class="p-mt-3">
    <p-table [value]="items" styleClass="p-datatable-sm p-datatable-striped" [scrollable]="true">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:50px">
                <col>
                <col>
                <col *ngFor="let col of cols">
                <col style="width: 100px;">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">STT</th>
                <th>Số quy trình</th>
                <th>Ngày</th>
                <th *ngFor="let header of cols">
                    {{header.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
                <td class="text-center">
                    {{ 10 * (paging.CurrentPage - 1) + i + 1 }}
                </td>
                <td class="text-center">
                    {{item.SoQuyTrinh}}
                </td>
                <td class="text-center">
                    {{item.Ngay|date:'dd/MM/yyyy'}}
                </td>
                <td class="text-center" *ngFor="let col of cols">
                    {{item[col.field]}}
                </td>
                <td class="text-center">
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-text p-button-sm p-button-secondary p-mr-2" (click)="update(item)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng số bản ghi {{paging.TotalItem}}.<p-paginator #paginator [totalRecords]="paging.TotalItem" [rows]="25"
                    (onPageChange)="changePage($event)"></p-paginator>
            </div>
        </ng-template>
    </p-table>
</div>
