.p-grid>div {
    text-align: center;
    padding:5px;
    /* background-color: white; */
}

@media (min-width: 576px) {
    .p-grid>div>div.chart{
        padding:5px;
        height: calc((100vh - 192.5px)/2);
        border-radius: 5px;
        background-color: white;
        position: relative;
    }
}
@media (max-width: 576px) {
    .p-grid>div>div.chart{
        padding:5px;
        /* height: calc((100vh - 192.5px)/2); */
        border-radius: 5px;
        background-color: white;
        position: relative;
    }
}