<div class="modal-header">
    <h5 class="modal-title">{{opt==='add'?'Thêm mới':'Cập nhật'}} tiêu chí chất lượng sợi {{SelectItem.Ten}}</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-grid">
        <!-- <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-3 p-p-0 my-auto">Tên mặt hàng:</label>
            <div class="p-col-12 p-lg-9 p-p-0">
                
            </div>
        </div>            -->
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <p-table [value]="item|isXoa" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col style="width: 190px;">
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th class="text-center">IPI/Uster</th>
                        <th>Tiêu chuẩn</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-left">{{item.itemChiTieuChatLuong.Ten}}</td>
                        <td class="text-center">
                            <span *ngIf="item.itemChiTieuChatLuong.isLoaiChiTieuIPI">IPI</span>
                            <span *ngIf="item.itemChiTieuChatLuong.isLoaiChiTieuUsterstatic">Uster</span>
                        </td>
                        <td class="text-right">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="item.TieuChuan"
                                [disabled]="item.disable">
                            </p-inputNumber>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"
        [disabled]="khongclicknhieu"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button>
</div>