.first-col {
    width: 7rem!important;
    min-width: 7rem!important;
    max-width: 7rem!important;
    left: 0px!important;
    /* background-color: antiquewhite; */
  }
  .sticky-col {
    position: -webkit-sticky!important;
    position: sticky!important;
  }