<div class="modal-header">
    <h5 class="modal-title">{{opt==='add'?'Thêm mới':'Cập nhật'}} phiếu hạ cấp</h5>
    <!-- <div class="p-col-12 p-lg-4 p-p-0 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Nhà máy:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <p-dropdown [filter]="true" [options]="listNhaMay" placeholder="Chọn nhà máy" styleClass="p-inputtext-sm"
                [(ngModel)]="item.NhaMay"></p-dropdown>
        </div>
    </div> -->
    <div class="p-d-flex p-flex-row">
        <div class="mr-2">Số quy trình:&nbsp;{{item.SoQuyTrinh}}</div>
        <!-- <div class="mr-2">TG tạo:&nbsp;{{item.Created}}</div>
        <div class="mr-2">TG duyệt:&nbsp;{{item.Modified}}</div> -->
    </div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="activeModal.dismiss('close')"></button>
            <button pButton pRipple type="button" label="Lưu nháp" class="p-mr-2 p-button-sm " (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <!-- <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button> -->
            <button pButton pRipple type="button" label="Xác nhận" class="p-mr-2 p-button-sm" (click)="ChuyenDuyet()"
                *ngIf="checkbutton.ChuyenTiep"></button>
            <!-- <button pButton pRipple type="button" label="Kết xuất" class="p-mr-2 p-button-sm"></button> -->
        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-3 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Kho:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listdmKho" placeholder="Chọn kho" styleClass="p-inputtext-sm"
                    [(ngModel)]="item.IddmKho"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ngày chứng từ:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [locale]="lang"
                    [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true"
                    [(ngModel)]="item.Ngay" inputId="icon" placeholder="dd/mm/yyyy">
                </p-calendar>
            </div>
        </div>
        <div class="p-col-12 p-lg-5 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input type="text" class="p-inputtext-sm" [ngModel]="item.GhiChu" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <div class="p-d-flex p-flex-row p-jc-between p-mb-3">
                <div>
                    <button
                        pButton pRipple type="button" label="Danh mục mặt hàng" class="p-mr-2 p-button-sm"
                        (click)="GetLuuKho('')"></button>
                </div>
                <!-- <div>
                    <div class="p-inputgroup">
                    <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText
                        (keyup.enter)="GetLuuKho(KeyWord)" [(ngModel)]="filter.KeyWord" />
                    <button type="button" pButton pRipple icon="pi pi-refresh"
                        class="p-button-secondary p-button-sm p-button-text" (click)="GetLuuKho('')"></button>
                </div>
                </div> -->
                
            </div>
            <p-table [value]="item.listItem" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col style="width:100px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Tên mặt hàng</th>
                        <!-- <th>Đơn vị tính</th> -->
                        <th>Tồn kho</th>
                        <th>Số lượng</th>
                        <th>Loại hàng hóa sau hạ cấp</th>
                        <th>Ghi chú</th>
                        <th style="width:100px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td style="text-align: center;">{{item.Ten}}</td>
                        <!-- <td style="text-align: center;">{{item.DonViThietKe}}</td> -->
                        <td>{{item.Ton}}</td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.SoLuong">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-dropdown [filter]="true" [options]="listHangHoaSauHaCap" placeholder="Chọn loại hàng hóa" styleClass="p-inputtext-sm"
                            [(ngModel)]="item.IdHangHoaSauHaCap"></p-dropdown>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="item.GhiChu">
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-trash"
                                class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"
                                (click)="delete(i)" pTooltip="Xóa" showDelay="1000"
                                tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="footer" *ngIf="opt!=='modal'">
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="newTableItem.MaCongTen">
                        </td>
                        <td>
                            <div class="p-inputgroup">
                                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="newTableItem.KhoiLuong">
                                </p-inputNumber>
                                <span class="p-inputgroup-addon">kg</span>
                            </div>
                        </td>
                        <td>
                            <div class="p-inputgroup">
                                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="newTableItem.SoKien">
                                </p-inputNumber>
                                <span class="p-inputgroup-addon">kiện</span>
                            </div>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="newTableItem.Block">
                        </td>
                        <td class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-plus"
                                class="p-button-rounded p-button-sm " (click)="add()"></button>
                        </td>
                    </tr>
                </ng-template> -->
            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>