<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-grid">
        <div class="p-col-12 p-d-flex p-flex-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Mã<span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ma" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-d-flex p-flex-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tên<span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ten" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-d-flex p-flex-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Đơn vị:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.DonVi" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-d-flex p-flex-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Dung sai cho phép:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listdungsai" placeholder="Chọn" [showClear]="true" [(ngModel)]="item.DungSaiChoPhep"
                    styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-d-flex p-flex-row">
            <div class="p-col-12 p-lg-6 p-p-0">
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="item.isLoaiChiTieuIPI" binary="true" inputId="isLoaiChiTieuIPI"
                        (onChange)="IPIorUsterstatic($event,'isLoaiChiTieuIPI')"></p-checkbox>
                    <label for="isLoaiChiTieuIPI">Chỉ tiêu IPI</label>
                </div>
            </div>
            <div class="p-col-12 p-lg-6 p-p-0">
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="item.isLoaiChiTieuUsterstatic" binary="true" inputId="isLoaiChiTieuUsterstatic"
                        (onChange)="IPIorUsterstatic($event,'isLoaiChiTieuUsterstatic')"></p-checkbox>
                    <label for="isLoaiChiTieuUsterstatic">Chỉ tiêu Usterstatic</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"
        [disabled]="khongclicknhieu"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button>
</div>