<div class="modal-header">
    <!-- <h5 class="modal-title">{{opt==='add'?'Thêm mới':'Cập nhật'}} phiếu nhập {{nametype}}</h5> -->
    <h5 class="modal-title">Phiếu nhập {{nametype}}</h5>
    <!-- <div class="p-col-12 p-lg-4 p-p-0 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Nhà máy:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <p-dropdown [filter]="true" [options]="listNhaMay" placeholder="Chọn nhà máy" styleClass="p-inputtext-sm"
                [(ngModel)]="item.NhaMay"></p-dropdown>
        </div>
    </div> -->
    <div class="p-d-flex p-flex-row">
        <div class="mr-2">Số quy trình:&nbsp;{{item.SoQuyTrinh}}</div>
        <!-- <div class="mr-2">TG tạo:&nbsp;{{item.Created}}</div>
        <div class="mr-2">TG duyệt:&nbsp;{{item.Modified}}</div> -->
    </div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="Onclose()"></button>
            <button pButton pRipple type="button" label="Lưu nháp" class="p-mr-2 p-button-sm " 
                (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <!-- <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button> -->
            <!-- <button pButton pRipple type="button" label="" class="p-mr-2 p-button-sm"
                (click)="GhiLai()" *ngIf="checkbutton.ChuyenTiep"></button> -->
            <button pButton pRipple type="button" label="Xác nhận" class="p-mr-2 p-button-sm"
                (click)="ChuyenTiep()" *ngIf="checkbutton.ChuyenTiep"></button>
            <!-- <button pButton pRipple type="button" label="Kết xuất" class="p-mr-2 p-button-sm"></button> -->
        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row" *ngIf="this.type==='bong'">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Hợp đồng :</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listKeHoach"
                 placeholder="Chọn kế hoạch" styleClass="p-inputtext-sm" [(ngModel)]="item.IdKeHoachNhapNguyenLieuInvoice_Item"
                (onChange)="getKeHoach($event)"></p-dropdown>
            </div>
        </div> 
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label *ngIf="this.type!=='xo'" class="p-col-12 p-lg-4 p-p-0 my-auto">Loại bông <span class="text-danger">*</span>:</label>
            <label *ngIf="this.type==='xo'" class="p-col-12 p-lg-4 p-p-0 my-auto">Loại xơ <span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listLoaiBong" placeholder="Chọn loại" styleClass="p-inputtext-sm"
                [(ngModel)]="item.IddmLoaiBong"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label *ngIf="this.type!=='xo'" class="p-col-12 p-lg-4 p-p-0 my-auto">Cấp bông <span class="text-danger">*</span>:</label>
            <label *ngIf="this.type==='xo'" class="p-col-12 p-lg-4 p-p-0 my-auto">Cấp xơ <span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listCapBong" placeholder="Chọn cấp" styleClass="p-inputtext-sm"
                  [(ngModel)]="item.IddmCapBong"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label *ngIf="this.type==='bong'" class="p-col-12 p-lg-4 p-p-0 my-auto">Lô bông:</label>
            <label *ngIf="this.type==='xo'" class="p-col-12 p-lg-4 p-p-0 my-auto">Lô xơ:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listLoBong" placeholder="Chọn lô bông" [(ngModel)]="item.IdLoBong"
                styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ngày nhập <span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [locale]="lang"
                    [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true"
                    [(ngModel)]="item.Ngay" inputId="icon" placeholder="dd/mm/yyyy">
                </p-calendar>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Kho:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listKho" placeholder="Chọn kho" [(ngModel)]="item.IddmKho"
                styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Số hợp đồng:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.SoHopDong" pInputText />
            </div>
        </div>
       
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto" *ngIf="this.type==='bong'">Đơn giá Bông/Kg (USD):</label>
            <label class="p-col-12 p-lg-4 p-p-0 my-auto" *ngIf="this.type==='xo'">Đơn giá Xơ/Kg (USD):</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="item.GiaBong">
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <p-table
             [value]="item.listItem|isXoa" styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col>
                        <col>
                        <col>
                        <col *ngIf="this.type==='bong'">
                        <col *ngIf="this.type==='bong'">
                        <col>
                        <col style="width:100px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Container</th>
                        <th>Khối lượng (tấn)</th>
                        <th>Số kiện (kiện)</th>
                        <th *ngIf="this.type==='bong'">Số kiện ngắn (kiện) <span class="text-danger">*</span></th>
                        <th *ngIf="this.type==='bong'">Số kiện dài (kiện) <span class="text-danger">*</span></th>
                        <th>Vị trí <span class="text-danger">*</span></th>
                        <th style="width: 100px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">
                            <input pInputText type="text" [(ngModel)]="item.Ten">
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="item.SoCan">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.SoKien">
                            </p-inputNumber>
                        </td>
                        <td class="text-center"  *ngIf="this.type==='bong'">
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.SoKienNgan">
                            </p-inputNumber>
                        </td>
                        <td class="text-center"  *ngIf="this.type==='bong'">
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.SoKienDai">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-dropdown [filter]="true" [options]="listdmViTri" placeholder="Chọn vị trí" styleClass="p-inputtext-sm"
                                    [(ngModel)]="item.IddmViTri"></p-dropdown>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-trash"
                                class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"
                                (click)="delete(i)" pTooltip="Xóa" showDelay="1000"
                                tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                    
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="opt!=='modal'">
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="newTableItem.Ten">
                        </td>
                        <td>
                            <div class="p-inputgroup">
                                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="newTableItem.SoCan">
                                </p-inputNumber>
                            </div>
                        </td>
                        <td>
                            <div class="p-inputgroup">
                                <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="newTableItem.SoKien">
                                </p-inputNumber>
                            </div>
                        </td>
                        <td  *ngIf="this.type==='bong'">
                            <div class="p-inputgroup">
                                <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="newTableItem.SoKienNgan">
                                </p-inputNumber>
                            </div>
                        </td>
                        <td  *ngIf="this.type==='bong'">
                            <div class="p-inputgroup">
                                <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="newTableItem.SoKienDai">
                                </p-inputNumber>
                            </div>
                        </td>
                        <td>
                            <!-- <input pInputText type="text" [(ngModel)]="newTableItem.ViTri"> -->
                            <p-dropdown [filter]="true" [options]="listdmViTri" placeholder="Chọn vị trí" styleClass="p-inputtext-sm"
                                    [(ngModel)]="newTableItem.IddmViTri"></p-dropdown>
                        </td>
                        <td class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-plus"
                                class="p-button-rounded p-button-sm " (click)="add()"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>