<div class="modal-header">
    <h5 class="modal-title">Chọn tệp excel</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-col-12 p-d-flex p-flex-row" *ngIf="title!=='Thông tin người sử dụng'">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tài liệu đính kèm:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <div class="p-inputgroup">
                <input type="text" pInputText class="p-inputtext-sm"
                    [(ngModel)]="TepImport.TenGoc" disabled>
                <button type="button" pButton pRipple icon="pi pi-upload" class="p-button-sm p-button-text p-button-secondary"
                    (click)="taiLenFileDinhKem()"></button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button pButton pRipple label="Tải tệp mẫu" class="p-button-sm p-mr-2" (click)="taiTepMau()"></button>
    <button pButton pRipple label="Xác nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Hủy" class="p-button-sm p-button-outlined p-button-secondary p-mr-2" (click)="_modalActive.dismiss()"></button>
</div>