<h4 class="title">
    Danh mục quận / huyện
</h4>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3 flex-column flex-lg-row">
    <div class="p-d-flex flex-column flex-lg-row">
        <div style="width:200px" class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listTinh" placeholder="Chọn tỉnh/TP" styleClass="p-inputtext-sm"
                [(ngModel)]="tempTinh" (onChange)="loadQuan($event)" optionLabel="Ten"></p-dropdown>
        </div>
        <button pButton pRipple *ngIf="tempTinh!== undefined" label="Thêm mới" icon="pi pi-plus" class="p-button-sm p-mr-2" (click)="add()"></button>
        <button pButton pRipple label="Nhập excel" class="p-button-sm p-button-outlined p-mr-2" (click)="importExcel()"></button>

        <!-- <button pButton pRipple label="Xuất excel" class="p-button-sm p-button-outlined p-mr-2"></button> -->
        <button pButton pRipple label="Xóa tất cả" *ngIf="selectedItems.length!==0"
            class="p-button-sm p-button-secondary p-button-outlined p-mr-2" (click)="deleteAll()"></button>

    </div>
    <div class="p-d-flex p-flex-row" style="width:200px">
        <div class="p-inputgroup" style="width:200px">
            <input type="text" placeholder="Tìm kiếm" [(ngModel)]="keyWord" (keyup.enter)="loadQuan()" class="p-inputtext-sm" pInputText />
            <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-text"
                (click)="resetFilter()" pTooltip="Làm mới" showDelay="1000" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-search" class="p-button-secondary p-button-text"
                (click)="loadQuan()" pTooltip="Tìm kiếm" showDelay="1000" tooltipPosition="bottom"></button>
        </div>
    </div>
</div>
<p-table [value]="items" [(selection)]="selectedItems" styleClass="p-datatable-sm p-datatable-striped" [scrollable]="true">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <!-- <col style="width:50px"> -->
            <col style="width:50px">
            <col *ngFor="let col of cols" [ngStyle]="{width:col.width}">
            <col style="width: 100px;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th class="text-center">STT</th>
            <th *ngFor="let header of cols">
                {{header.header}}
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <!-- <td class="text-center">
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td> -->
            <td class="text-center">
                {{ 20 * (paging.CurrentPage - 1) + i + 1 }}
            </td>
            <td *ngFor="let col of cols" class="text-center">
                {{item[col.field]}}
            </td>
            <td class="text-center">
                <button pButton pRipple type="button" icon="pi pi-pencil"
                    class="p-button-text p-button-sm p-button-secondary p-mr-2" (click)="edit(item)" pTooltip="Sửa" showDelay="1000" tooltipPosition="bottom"></button>
                <button pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-text p-button-sm p-button-secondary" (click)="delete(item)" pTooltip="Xóa" showDelay="1000" tooltipPosition="bottom"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            Tổng số bản ghi {{paging.TotalItem}}.<p-paginator [totalRecords]="paging.TotalItem" [rows]="20"
                (onPageChange)="changePage($event)"></p-paginator>
        </div>
    </ng-template>
</p-table>