<div class="modal-header">
    <h5 class="modal-title">Kiểm kê kho</h5>
    <div>Số quy trình: {{item.SoQuyTrinh}}</div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="activeModal.dismiss('close')"></button>
            <button pButton pRipple type="button" label="Lưu nháp" class="p-mr-2 p-button-sm " (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button>
            <button pButton pRipple type="button" label="Xác nhận" class="p-mr-2 p-button-sm"
                (click)="ChuyenDuyet()" *ngIf="checkbutton.ChuyenTiep"></button>
            <!-- <button pButton pRipple type="button" label="Kết xuất" class="p-mr-2 p-button-sm"></button> -->
        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">  
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Kho:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listdmKho" placeholder="Chọn kho" styleClass="p-inputtext-sm"
                    [(ngModel)]="item.IddmKho" (onChange)="GetMatHangTheoKho()"></p-dropdown>
            </div>
        </div>
        <!-- <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Vị trí:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listdmViTri" placeholder="Chọn vị trí" styleClass="p-inputtext-sm"
                    [(ngModel)]="item.IddmViTri" (onChange)="GetMatHangTheoKho()"></p-dropdown>
            </div>
        </div> -->
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Lô bông:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listLoBong" placeholder="Chọn lô bông" styleClass="p-inputtext-sm"
                    [(ngModel)]="item.IdLoBong" (onChange)="GetMatHangTheoKho()"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Nội dung:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.NoiDung" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <p-table [lazy]="true" [scrollable]="true" scrollHeight="45vh"
            [value]="item.listItem|isXoa" styleClass="p-datatable-sm wrap-text p-datatable-striped"
                selectionMode="single" [scrollable]="true" scrollHeight="40vh" [lazy]="true">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col style="width:90px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Số lượng trong tính toán</th>
                        <th>Số lượng thực tế</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td>{{ 15 * (paging.CurrentPage - 1) + i + 1 }}</td>
                        <!-- <td>{{item.TenLoBong}}</td> -->
                        <td style="text-align: center;">{{item.Ma}}</td>
                        <td style="text-align: center;">{{item.Ten}}</td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.Ton">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.SoLuong">
                            </p-inputNumber>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-trash"
                                class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"
                                (click)="delete(i)" pTooltip="Xóa" showDelay="1000"
                                tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Tổng số bản ghi {{paging.TotalItem}}.<p-paginator #paginator [totalRecords]="paging.TotalItem" [rows]="15"
                            (onPageChange)="changePage($event)"></p-paginator>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>