<div class="modal-header">
    <h5 class="modal-title">{{opt==='add'?'Thêm mới':'Cập nhật'}} đơn vị</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-grid">
        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Mã doanh nghiệp<span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.Ma" pInputText />
            </div>
        </div>
        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tên pháp lý<span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.Ten" pInputText />
            </div>
        </div>
        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Đơn vị đại diện vốn<span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [options]="listDanhMucDonVi" placeholder="Chọn đơn vị đại diện vốn" styleClass="p-inputtext-sm" dataKey="ID"
                    [(ngModel)]="item.parent" optionLabel="Ten"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Loại hình công ty:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [options]="listLoaiHinhCongTy" placeholder="Chọn đơn vị đại diện vốn" styleClass="p-inputtext-sm"
                    [(ngModel)]="item.LoaiHinhCongTy"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Địa chỉ công ty:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.DiaChi" pInputText />
            </div>
        </div>

        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Số giấy phép kinh doanh:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.GiayPhepDangKyKinhDoanh" pInputText />
            </div>
        </div>

        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ngày cấp GPKD:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [locale]="lang" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="item.NgayCapGiayPhepKinhDoanh"
                    inputId="icon" placeholder="dd/mm/yyyy">
                </p-calendar>
            </div>
        </div>

        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Người đại diện pháp luật:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.TenNguoiDaiDienPhapLuat" pInputText />
            </div>
        </div>

        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Chức vụ người đại diện:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.ChucVuNguoiDaiDienPhapLuat" pInputText />
            </div>
        </div>

        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Số tài khoản:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.SoTaiKhoan" pInputText />
            </div>
        </div>

        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Địa chỉ ngân hàng:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.DiaChiNganHang" pInputText />
            </div>
        </div>
        
        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" (keyup.enter)="accept()" [(ngModel)]="item.GhiChu" pInputText />
            </div>
        </div>
        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Phòng ban</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="checkbox" (keyup.enter)="accept()" [(ngModel)]="item.isPhongBan" />
            </div>
        </div>
        <div class="p-col-12 flex-column flex-lg-row d-flex">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Logo công ty:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <div class="p-inputgroup">
                    <input type="text" pInputText class="p-inputtext-sm" [ngModel]="item.LogoCongTy?.TenGoc" disabled>
                    <button type="button" pButton pRipple icon="pi pi-upload"
                        class="p-button-sm p-button-text p-button-secondary" (click)="taiLenFileDinhKem()"></button>
                    <!-- <button type="button" pButton pRipple icon="pi pi-download" class="p-button-sm p-button-text p-button-secondary"
                        (click)="taiXuongFileDinhKem()"></button> -->
                </div>
            </div>
        </div>
        <div class="p-col-12 flex-column flex-lg-row d-flex bg-dark">
            <img [src]="getImgLink(item.LogoCongTy?.Link)" width="100%" alt="">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2" (click)="activeModal.dismiss()"></button>
</div>