<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-col-12 p-p-0 d-flex flex-column">
        <div class="p-d-flex p-flex-sm-row p-jc-between p-mt-3 p-mb-3">
            <div class="p-d-flex p-flex-row">
                <button pButton pRipple label="Quay lại" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
                    (click)="activeModal.dismiss()"></button>
                <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"
                    [disabled]="khongclicknhieu"></button>
            </div>
            <div class="p-d-flex p-flex-row">
                <div class="p-mr-2" *ngIf="opt!=='SOI'">
                    <p-dropdown [filter]="true" [options]="listloaisoi" placeholder="Chọn"
                        [(ngModel)]="filter.IddmLoaiSoi" styleClass="p-inputtext-sm">
                    </p-dropdown>
                </div>
                <div class="p-inputgroup">
                    <input type="text" placeholder="Tìm kiếm" [(ngModel)]="filter.keyWord" (keyup.enter)="TimKiem(true)"
                        class="p-inputtext-sm" pInputText />
                    <button type="button" pButton pRipple icon="pi pi-refresh"
                        class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()" pTooltip="Làm mới"
                        showDelay="1000" tooltipPosition="bottom"></button>
                    <!-- <button type="button" pButton pRipple icon="pi pi-search"
                        class="p-button-secondary p-button-sm p-button-text" pTooltip="Tìm kiếm" showDelay="1000"
                        tooltipPosition="bottom" (click)="GetDMMatHang()"></button> -->
                </div>
            </div>
        </div>
        <p-table [value]="items|filter:filter.keyWord|filter:filter.IddmLoaiSoi" [(selection)]="selectedItems"
            styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines" [scrollable]="true"
            scrollHeight="500px">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:50px">
                    <col *ngFor="let col of cols" [ngStyle]="{width:col.width}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">
                        <p-checkbox [(ngModel)]="checkedAll" (onChange)="checkAll($event)" binary="true"
                            inputId="binary"></p-checkbox>
                    </th>
                    <th *ngFor="let header of cols">
                        {{header.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td class="text-center">
                        <p-checkbox [(ngModel)]="item.checked" binary="true" inputId="binary"></p-checkbox>
                    </td>
                    <td *ngFor="let col of cols">
                        {{item[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="modal-footer">
</div>